svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 625.71 749.59')
    defs
        style.
            .cls-1{isolation:isolate;}.cls-2-ap{fill:#8dc9c0;}.cls-3-ap,.cls-8-ap{fill:#9fb23d;}.cls-4-ap{fill:#e3f7f5;opacity:0.64;}.cls-5-ap{fill:#e0d98b;}.cls-6-ap{fill:#a7c203;}.cls-10-ap,.cls-7-ap{fill:none;}.cls-7-ap{stroke:#998675;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}.cls-12-ap,.cls-8-ap{opacity:0.5;}.cls-9-ap{opacity:0.34;mix-blend-mode:multiply;}.cls-11-ap{fill:#a6a57b;}.cls-12-ap{fill:#fff;mix-blend-mode:overlay;}
    title green-apple
    g.cls-1
        g#Layer_2(data-name='Layer 2')
            g#text
                g#_6(data-name='6')
                    g#_7(data-name='7')
                        path.cls-2-ap(d='M402.84,192.86c-56.3-33.57-175.94-86.3-344.29,6.83-15.58,8.62-24.41,34.15-9,43,58.08,33.2,192.62,96,354.11-9.61A23.69,23.69,0,0,0,402.84,192.86Z')
                        path.cls-3-ap(d='M66.2,251.75s129.65-102.05,312.63-9l-55.22,381.4S212.57,733.4,89,642.06c-6.11-4.52-5.37-5.37-5.37-5.37Z')
                        path.cls-4-ap(d='M415,223,353,648.22a61.56,61.56,0,0,1-41.37,49.61c-97.57,32.38-176.7,22-219.91,10.92a49.6,49.6,0,0,1-37.27-46l-12-427.29C241.23,386,415,223,415,223Z')
                        path.cls-5-ap.tube(d='M516.14,94.92,474.95,120s-8.44-56.25-19.09-51.62a21.09,21.09,0,0,1-7.25,1.34C441.8,70.15,416,97.18,346,262.56a324,324,0,0,1-51.81,19C325.92,204.19,414.16,0,460.62,0,517.93,0,516.14,94.92,516.14,94.92Z')
                        g.apple-item
                            path.cls-6-ap(d='M494.95,507.14c-17.8-16.56-64.81,2.26-81.66,12.26-31.75,18.84-54.89,54.25-64.54,89.39-9.6,34.95-4.46,74.84,17.35,104.46C393,749.8,430.9,742,470.78,748.64c56.75,9.44,142.68-53.55,145.82-114.89,1.66-32.32-19.17-73.4-39.13-98.19-13.31-16.52-25.85-21.88-46.53-25-6.1-.91-35.24-4.63-34.79-2.28')
                            path.cls-7-ap(d='M487.78,514.85c.21-10.64-1.27-21.15-1.19-31.86.13-18.72,12.34-55.86,36.85-64.19a5.24,5.24,0,0,1,.16,2.87')
                            path.cls-8-ap(d='M502.11,457c23.14-20.11,67.69-23.58,95.89-15.53,16.88,4.82,27.71,30.4,27.71,30.4S558.23,500.58,502.26,455')
                            path.cls-8-ap(d='M502.11,457c23.14-20.11,123.6,14.88,123.6,14.88S558.23,500.58,502.26,455')
                    path.cls-12-ap(d='M235.63,298.71v417a430.16,430.16,0,0,0,76-17.9A61.56,61.56,0,0,0,353,648.22L415,223S341.57,291.81,235.63,298.71Z')

