svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 841.83 666.21')
    defs
        style.
            .cls-carrot-1{isolation:isolate;}.cls-carrot-2{fill:#e3f7f5;}.cls-carrot-10,.cls-carrot-11,.cls-carrot-2{mix-blend-mode:multiply;}.cls-carrot-10,.cls-carrot-3,.cls-carrot-9{fill:#f0b31d;}.cls-carrot-3{opacity:0.93;}.cls-carrot-4{fill:#8dc9c0;opacity:0.59;}.cls-carrot-14,.cls-carrot-4{mix-blend-mode:overlay;}.cls-carrot-12,.cls-carrot-5{fill:none;}.cls-carrot-5{stroke:#c56520;stroke-linecap:round;stroke-miterlimit:10;stroke-width:6px;}.cls-carrot-6{fill:#ffa700;}.cls-carrot-7{fill:#a7c203;}.cls-carrot-8{fill:#f9ee9c;}.cls-carrot-11{opacity:0.32;}.cls-carrot-13{fill:#ff6d20;}.cls-carrot-14{fill:#fff;opacity:0.5;}
    title orange-carrot
    g.cls-carrot-1
        g#Layer_2(data-name='Layer 2')
            g#text
                g#_4(data-name='4')
                    g#_4-2(data-name='4')
                        path.cls-carrot-2(d='M586.49,420c-15.93,60.3-31.61,101.47-31.61,101.47-190.77,134.95-372.21-9.3-372.21-9.3q-7-46.88-11.14-88C138,95.65,229.19,28.28,229.19,28.28,364.11,177.16,596.73,60.84,596.73,60.84,640.38,165.56,613.08,319.36,586.49,420Z')
                        path.cls-carrot-3(d='M257.47,110.92,231.85,438.81s125.52,66.6,304.84-15.37l7.68-302.27S367.62,200.57,257.47,110.92Z')
                        path.cls-carrot-4(d='M229.19,28.28s228.45-82.34,368,34C597.22,62.26,387.38,186.47,229.19,28.28Z')
                        path.cls-carrot-2(d='M586.49,420c-15.93,60.3-31.61,101.47-31.61,101.47-190.77,134.95-372.21-9.3-372.21-9.3q-7-46.88-11.14-88C230.16,469.5,371.59,541.84,586.49,420Z')
                        path.cls-carrot-5(d='M205.92,642.43')
                        path.cls-carrot-5(d='M345.5,607.11')
                        g.carrot-item
                            path.cls-carrot-6(d='M694.4,265.35s-154.13,139.56-182,348.93c0,0-27.45,67.28,5.12,48.67s228.1-276.63,204.84-379Z')
                            path.cls-carrot-7(d='M690.68,271.24c-13.46-11.77-39.62-25.19-57.73-27.92,15.53-4.06,30.37-10.48,46.11-6.74-3.83-21.28-19.25-45.62-27.9-61.59a104.68,104.68,0,0,1,35,32.37c5.66,8.36,9.56,19.66,18.52,24,17.89-22.75,29.16-46,56.87-60.05.84,9.25-10.42,21.63-15.15,30.11-6.74,12.08-10.17,24.79-15.49,37.41,33.28-6.64,79-9.32,110.94,7.43-31.8,4.28-65.63,22.29-97.66,20,17.09,16.37,35.81,29.34,34.73,56.82-20.4-12.36-48-33.79-70.1-42.76-11-4.46-8.38-.69-17.83-10')
                        g.orange
                            ellipse.cls-carrot-6(cx='147.95', cy='500.86', rx='147.95', ry='148')
                            circle.cls-carrot-8(cx='147.95', cy='500.86', r='120.97')
                            path.cls-carrot-9(d='M159.42,490.91c12.93-18.39,11.14-48,27.81-64.51,15-14.86,26.71.6,38.17,15.5,16.69,21.69,4.32,31.42-18.4,36.19-16.36,3.44-28.06,10.88-44.05,14.29')
                            path.cls-carrot-9(d='M163.73,509.35c22.35,2.38,47.4-13.55,69.9-7,20.28,5.92,12.43,23.64,5,40.9-10.86,25.12-25.38,19-40.57,1.47-10.95-12.64-23.13-19.26-33.87-31.59')
                            path.cls-carrot-9(d='M153,521.12c10.83,19.7,38.24,31.12,45.72,53.33,6.74,20-12.28,23.72-30.7,27.48-26.82,5.46-30.12-9.93-24.42-32.44,4.1-16.21,2.57-30,6.53-45.85')
                            path.cls-carrot-9(d='M132.33,518.73c-10,20.15-3.65,49.17-17.58,68-12.56,17-26.48,3.5-40.1-9.46-19.82-18.87-9.08-30.38,12.63-38.59,15.64-5.91,26.06-15.05,41.34-20.88')
                            path.cls-carrot-9(d='M123.71,503.49C101.48,506.86,81.3,528.63,57.87,528c-21.11-.58-18-19.72-15.18-38.3,4.14-27.05,19.72-24.83,38.87-11.72,13.79,9.45,27.26,12.76,40.78,22')
                            path.cls-carrot-9(d='M135.26,491.13c-10.9-19.66-38.34-31-45.89-53.18-6.81-20,12.2-23.76,30.61-27.58,26.8-5.55,30.15,9.83,24.53,32.36-4,16.22-2.47,30-6.38,45.87')
                        path.cls-carrot-10(d='M264.73,102.71C302.59,92.31,400,74.51,539.22,113.34A6.69,6.69,0,0,1,540,126c-48.57,19.5-189.09,66-279-5.39A10.27,10.27,0,0,1,264.73,102.71Z')
                    path.cls-carrot-14(d='M596.73,60.84s-79.45,39.73-172.42,43l-24.6,474.62c48.41-3.17,101.42-19,155.16-57,0,0,15.68-41.17,31.61-101.47C613.08,319.36,640.38,165.56,596.73,60.84Z')
