svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 440 661.64')
    defs
        style.
            .cls-1{isolation:isolate;}.cls-2-choco{fill:#8dc9c0;}.cls-3-choco{fill:#894f1a;}.cls-4-choco{fill:#e3f7f5;opacity:0.66;}.cls-5-choco{fill:#522900;}.cls-6-choco{fill:#6b3e15;}.cls-7-choco{fill:#401600;opacity:0.3;}.cls-8-choco{fill:#d9073f;}.cls-9{fill:#a7c203;}.cls-10-choco{fill:#a20e30;}.cls-11-choco{mix-blend-mode:screen;}.cls-12-choco{fill:none;}.cls-13-choco{fill:#5a4a44;}.cls-14-choco{fill:#fff;opacity:0.5;mix-blend-mode:overlay;}
    title chocolate-strawberry
    g.cls-1
        g#Layer_2(data-name='Layer 2')
            g#text
                g#_8(data-name='8')
                    path.cls-2-choco(d='M235.1,198.22c-91.48,0-137.28-46.66-169.2-69.46-12.47-8.91,73.27-65,164.75-65,79,0,160.44,38.26,164.75,65C396.07,133,326.58,198.22,235.1,198.22Z')
                    path.cls-3-choco(d='M142.48,579.37s146,30.23,199.48-12.47c0,0,99.74-228.52,53.43-438.14,0,0-86.14-40.58-171-37.4-51.64,1.94-103.3,11.92-158.51,37.4C65.9,128.76,39.18,359.81,142.48,579.37Z')
                    g.strawberry-item
                        path.cls-8-choco(d='M264.78,140.34c26.32-.55,52.64,0,79-.59h.91a99.34,99.34,0,0,0,12.13-32.54c12.45-74-75-77.42-106.16-25.18-13.62,22.86,3.14,50.09,9.23,58.69A45.82,45.82,0,0,1,264.78,140.34Z')
                        path.cls-9(d='M293.14,57.48C285,46,273.62,24.61,272.76,10.35,297.64,31.07,310.27,21.25,327.93,0c.54,6.86,5.77,17,13.22,19.85,6.72,2.61,9.82,1.4,15.1-3.39C362.5,30.55,339.4,62,326.86,68.79c-16.17,8.76-23.88-4.14-33.72-11.31')
                        circle.cls-10-choco(cx='292.37', cy='111.27', r='4.23')
                        circle.cls-10-choco(cx='280.74', cy='80.61', r='3.17')
                        circle.cls-10-choco(cx='343.13', cy='96.47', r='2.11')
                        ellipse.cls-10-choco(cx='323.04', cy='123.96', rx='3.17')
                        circle.cls-10-choco(cx='272.28', cy='105.99', r='3.17')
                        circle.cls-10-choco(cx='326.21', cy='117.62', r='2.11')
                    path.cls-4-choco(d='M65,127.87c-4.45,29.39-98,236.88,80.15,518.29,0,0,83.71,39.18,194.13-7.12,0,0,161.18-218.18,56.4-510.78a63.9,63.9,0,0,1-17.46,22.2C213.28,279.13,65,127.87,65,127.87Z')
                    g.choco-piece-2
                        rect.cls-5-choco(x='71.24', y='506.34', width='110.43', height='110.43', transform='translate(688.01 435.1) rotate(90)')
                        rect.cls-3-choco(x='86.58', y='521.68', width='79.75', height='79.75')
                        polygon.cls-6-choco(points='181.67 506.34 166.33 521.68 166.33 601.43 181.67 616.77 181.67 506.34')
                        polygon.cls-6-choco(points='71.24 506.34 86.58 521.68 86.58 601.43 71.24 616.77 71.24 506.34')
                    g.choco-piece-1
                        rect.cls-5-choco(y='533.06', width='124.67', height='124.67', transform='translate(657.73 533.06) rotate(90)')
                        rect.cls-3-choco(x='17.32', y='550.38', width='90.04', height='90.04')
                        polygon.cls-6-choco(points='124.67 533.06 107.36 550.38 107.36 640.42 124.67 657.73 124.67 533.06')
                        polygon.cls-6-choco(points='0 533.06 17.32 550.38 17.32 640.42 0 657.73 0 533.06')
                    path.cls-14-choco(d='M395.69,128.25a63.9,63.9,0,0,1-17.46,22.2c-30.9,24.11-61.22,38.39-90.09,45.68V655.29A295.37,295.37,0,0,0,339.29,639S500.47,420.85,395.69,128.25Z')


