svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 433.88 723.31')
    defs
        style.
            .cls-1{isolation:isolate;}.cls-2-cof{fill:#e3f7f5;}.cls-2-cof,.cls-4-cof{mix-blend-mode:multiply;}.cls-3-cof{fill:#b89882;}.cls-5-cof,.cls-6-cof{fill:#fff;}.cls-6-cof{opacity:0.5;}.cls-6-cof,.cls-9-cof{mix-blend-mode:overlay;}.cls-7-cof{fill:#755746;}.cls-8-cof{fill:#423029;}.cls-9-cof{opacity:0.59;}.cls-10-cof{fill:none;}
    title frosted-coffee
    g.cls-1
        g#Layer_2(data-name='Layer 2')
            g#text
                g#_12(data-name='12')
                    path.cls-2-cof(d='M19.76,226.58,113.3,697.32s109.7,35.12,234.13,0l66.69-470.74Z')
                    path.cls-3-cof(d='M44.54,268l80.23,404.85s95,43.41,206.3,8.19l62.56-413.44Z')
                    g.cup
                        g.cls-4-cof
                            path.cls-2-cof(d='M216.94,0C97.13,0,0,97.13,0,216.94H433.88C433.88,97.13,336.75,0,216.94,0Z')
                        rect.cls-2-cof(x='9.34', y='205.78', width='411.78', height='42.19')
                    path.cls-5-cof(d='M77.28,264.34c.65-5.33-3.13-6.23-6.53-9-6.48-5.25-11.4-8.41-13.77-17.26-5.18-19.38,7.32-23,20.59-31,6.35-3.87,7.5-9.29,7.08-16.45-.59-10-6.41-11-11.48-18.95-10-15.69,5.52-29.78,20.44-34.42,5.16-1.6,10.28-1.37,15.58-1.42,3.91,0,11.75,2.47,14.75,1.63,9.81-2.73,3.09-10.53,5.05-18.19,4.27-16.63,33-17.73,46.38-14.61C189.93,108,202,122.76,218,120.27,235.17,117.6,236.32,97,227,84.9c-11.2-14.54-25.52-17.78-42.34-18.81,2.45-11.45,21.71-14.21,31.42-14.62,18.56-.79,37.66,3.37,49.92,18.4,9.1,11.16,8.24,24.07,13.59,36,4.79,10.72,15.3,10.62,22.44,3.11,9.65-10.15,24.66-18.55,38.93-8,10.74,7.94,10.13,27,7.16,38.48-3.57,13.77-6.57,29.4,12.5,32.42,4.73.75,6.91-2.53,11.46,1.57s4.43,14.85,4,20.34c-1,13.65-19.14,19.4-18,33.9.76,10.06,12.25,8.74,17.75,15.76,6.19,7.9,2.34,14,.32,21.68-2.72,10.45-1,14.5-14.71,14.75-19.82.37-35.05-8.28-54.3,1.82-13.07,6.86-31.15,15.05-45.6,8.35-3.34-1.55-7.93-8.14-11.44-8.57-6.37-.78-12.59,8.54-17.42,11.72a51.62,51.62,0,0,1-29.44,7.91c-11.21-.62-11.77-5.88-17.59-13.12-15.16-18.88-29.73,9.79-42.94,14.89-9,3.48-21.64,1.31-28.86-5.33-3.36-3.09-3.6-8.69-6.61-11.15-12.51-10.24-27,12.94-38.76,0-6.3-6.93-3.15-14.46,1.78-20.57,1.9-2.36,4.53-1.77,4.6-4.8')
                    path.cls-6-cof(d='M414.13,226.58h-191l23.59,486.08a423,423,0,0,0,100.67-15.35Z')
                    g.bean.first
                        ellipse.cls-7-cof(cx='362.43', cy='639.27', rx='38.11', ry='45.95', transform='translate(-311.36 932.58) rotate(-83.97)')
                        path.cls-8-cof(d='M395.56,642.77a106.72,106.72,0,0,1-16.84.94c-5.57-.08-11.11-.43-16.63-1s-11-1.39-16.47-2.48a105.52,105.52,0,0,1-16.27-4.45,105.52,105.52,0,0,1,16.84-1q8.36.12,16.63,1c5.52.59,11,1.4,16.47,2.49A106.76,106.76,0,0,1,395.56,642.77Z')
                    g.bean.second
                        ellipse.cls-7-cof(cx='307.22', cy='674.54', rx='38.11', ry='45.95', transform='translate(-276.01 217.12) rotate(-27.41)')
                        path.cls-8-cof(d='M291.88,645a106.72,106.72,0,0,1,10.06,13.53q4.5,7,8.32,14.43t7,15.11a105.52,105.52,0,0,1,5.25,16,105.52,105.52,0,0,1-10.07-13.53q-4.5-7-8.31-14.44t-7-15.12A106.76,106.76,0,0,1,291.88,645Z')
                    g.bean.third
                        ellipse.cls-7-cof(cx='362.43', cy='684.71', rx='38.11', ry='45.95', transform='translate(-388.37 875.74) rotate(-76.38)')
                        path.cls-8-cof(d='M394.81,692.55A106.72,106.72,0,0,1,378,691.26c-5.51-.81-11-1.89-16.35-3.19s-10.73-2.84-16-4.63a105.52,105.52,0,0,1-15.54-6.56,105.52,105.52,0,0,1,16.81,1.28q8.27,1.22,16.35,3.2c5.39,1.31,10.73,2.85,16,4.64A106.76,106.76,0,0,1,394.81,692.55Z')


