svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 850.72 631.62')
    defs
        style.
            .cls-melon-1{isolation:isolate;}.cls-melon-2{fill:#ffa700;}.cls-melon-3{fill:#e4d1bc;}.cls-melon-4{fill:#a7c203;}.cls-melon-5{fill:#ffe5b4;}.cls-melon-6{fill:#e8b601;}.cls-melon-7{opacity:0.24;mix-blend-mode:multiply;}.cls-melon-8{fill:none;}.cls-melon-9{fill:#e86520;}.cls-melon-10{fill:#fff;opacity:0.5;mix-blend-mode:overlay;}
    title melon-mint
    g.cls-melon-1
        g#Layer_2(data-name='Layer 2')
            g#text
                g#_5(data-name='5')
                    g#_5-2(data-name='5')
                        g.melon-fruit
                            path.cls-melon-2(d='M509.56,255.44,846,230.65S775.13,448.15,637,472.94s-211.4-8.11-211.4-8.11l73.3-209.39Z')
                            path.cls-melon-3(d='M457.81,506.1s253.59,46.78,335-73.61S846,230.65,846,230.65s-72.87,307.1-388.14,239.4Z')
                            path.cls-melon-4(d='M552.63,487.41c-38.59,0-85-7.37-129.13-20.43l4.29-10.72C530.84,486.72,622.13,482,691.9,439.83c110-66.58,141-205.26,141.24-206.62L846,231.06C851.47,223.59,811.46,380,697.45,449,655.16,474.59,606.72,487.41,552.63,487.41Z')
                        path.cls-melon-5(d='M552,110.26C530.8-45.55,233.36-13.68,187.32,67.77c0,0-24.79,31.87-35.41,191.22,0,0-74.36-70.82-113.31-42.49S-7.43,329.8,6.73,379.38s63.74,106.23,123.94,63.74c16.42-11.59,26.25-18.7,31.86-22.91.14,16.7,5.31,140.72,127.48,153.93C421,588.3,438.74,545.8,477.69,467.9S573.29,266.06,552,110.26ZM45.68,358.13c-7.08-21.25-24.79-74.36,10.62-95.61s67.28,24.79,67.28,24.79l21.25,99.15C59.85,432.49,52.76,379.38,45.68,358.13Z')
                        path.cls-melon-6(d='M534.34,131.51h-.12C406.29-19,209,87.36,209,87.36s142.3,174.69,326,45C535,132.4,534.32,131.52,534.34,131.51Z')
                        g.leaf
                            path.cls-melon-4(d='M473.54,613.54C430,613.22,382,588.26,369.69,545.09c7,4,15.7,5,23.3,8.21-24.62-30.63-34.5-75.71-32.2-115.41,12.15.87,26.33,15.33,36.81,22.22,2.12-24.26-4.66-46,5.87-69.73,10-22.51,14.51-9.54,25.82,3.94,2.7-23.53,69.95-80,69.95-80S526,364.17,531,383.29c17-12,25.54-28.42,36.22-1.34,8.79,22.28,3.27,41.31,3.68,63.82,12.29-3.9,24.62-12.71,34.41-20.93,9.15,8.19,6.73,30.89,4.17,42.16-4.92,21.73-21.75,33.1-29.72,50.59,10.92-1.17,19.15-10.55,29.36-12.53,6,41.92-60.91,81.62-90.58,100-14.44,8.92-27.15,16.85-40.84,26.61.17-7.28,1.87-17.2-2.5-22.23,0,4.26,2.46,5.13,5.46,8.43')
                    path.cls-melon-8(d='M56.31,262.52c-35.41,21.25-17.71,74.36-10.62,95.61s14.16,74.36,99.15,28.33l-21.25-99.15S91.72,241.28,56.31,262.52Z')
                    path.cls-melon-10(d='M543.89,136.21c-21.71,17.51-86.22,45.11-91.84,45.93-17.35,5.67-36.17,8.29-53.71,4,0,0-46.8,390.14-46.8,390.14,76.7-4.83,94.35-44.83,126.16-108.43,37.59-75.18,91.66-193.24,76.3-341.44A80.49,80.49,0,0,1,543.89,136.21Z')