svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 607.01 769.98')
    defs
        style.
            .cls-str-1{isolation:isolate;}.cls-str-2{fill:#8dc9c0;opacity:0.59;}.cls-str-2,.cls-str-5{mix-blend-mode:overlay;}.cls-str-3{fill:#e93c4f;}.cls-str-4{fill:#e3f7f5;mix-blend-mode:multiply;}.cls-str-5{fill:#fff;opacity:0.5;}.cls-str-6{fill:#d9073f;}.cls-str-7{fill:#a7c203;}.cls-str-8{fill:#a20e30;}.cls-str-9{fill:#f8f8f8;}.cls-str-10{opacity:0.24;mix-blend-mode:difference;}.cls-str-11{fill:none;}.cls-str-12{fill:#ae2d4a;}
    title strawberry
    g.cls-str-1
        g#Layer_2(data-name='Layer 2')
            g#text
                g#_2(data-name='2')
                    path.cls-str-2(d='M4.28,256.8s120.29-137,179-130,164.35,48.92,246.52,115.32c0,0-113.48,118.82-152.61,132.8-18.28,6.53-72.47-27.22-131.34-56.79C75.16,282.59,45.48,267.1,4.28,256.8Z')
                    path.cls-str-3(d='M64.33,276c36.46-61.29,111.53-90,144.36-83.05,30.81,6.54,168.77,98.38,168.77,98.38l-100.8,84.28S111.51,300.85,64.33,276')
                    path.cls-str-4(d='M5.22,257.81s-11.74,429.84,0,440.32S274.89,782.2,278.8,768.22s-2.14-392.66-3.59-391.59C266.71,382.95,5.22,243.83,5.22,257.81Z')
                    path.cls-str-4(d='M429.78,242.08s-122.19,116-157.41,133.47l4.8,394.22S445.43,616,445.43,584.56,433.69,252.57,429.78,242.08Z')
                    path.cls-str-5(d='M429.78,242.08s-122.19,116-157.41,133.47l4.8,394.22S445.43,616,445.43,584.56,433.69,252.57,429.78,242.08Z')
                    g.strawberry-fruit-1
                        path.cls-str-6(d='M381.74,642.58c-14.54,5.91-23.24,23.78-26,38.51-3.84,20.69,1,34.72,19.48,45.91,26.33,15.93,55.11,12.1,85.39,12.1,13.18,0,32.56,4.91,37.18-7.83,5.3-14.61.82-45.4-2.54-59.68-7.24-30.84-17.07-65.4-50.84-75.71-15.06-4.6-32.91-2.21-44.12,9.19C389.51,616.08,381.74,642.58,381.74,642.58Z')
                        path.cls-str-7(d='M362.07,647.36c-18.17-4.15-53.55,3.06-68.61,3.29,9.2-10,31.89-10.53,40.33-22.09,8-10.94-7.83-30.68-14.66-41,8.58,5.09,36.14,20.6,46.56,16,12.3-5.41,5.13-24.52,7.81-34.23a90.79,90.79,0,0,1,10.69,16.88c12.2,2.36,17.6-13.14,24.1-20.79,3.24,18.12-1.58,43.35-6.9,60.93a30.71,30.71,0,0,1-11,15.53C382.43,648.08,371.92,649.61,362.07,647.36Z')
                        circle.cls-str-8(cx='394.62', cy='694.91', r='4.29')
                        circle.cls-str-8(cx='430.01', cy='663.81', r='3.22')
                        circle.cls-str-8(cx='440.73', cy='625.21', r='5.36')
                        circle.cls-str-8(cx='468.62', cy='713.14', r='3.22')
                        circle.cls-str-8(cx='437.52', cy='697.06', r='2.14')
                        circle.cls-str-8(cx='468.62', cy='668.1', r='3.22')
                        circle.cls-str-8(cx='397.84', cy='670.25', r='3.22')
                    g.strawberry-fruit-2
                        path.cls-str-6(d='M509.56,710.41c10.71,16.66-1.29,47.26,29.64,40.53,33.84-7.37,61.16-45,66.59-77.3,12.63-75.1-76.11-78.53-107.67-25.54C481.48,676,509.56,710.41,509.56,710.41Z')
                        path.cls-str-7(d='M541.24,623.19c-8.3-11.61-19.8-33.34-20.67-47.8,23,12.26,44.93,18.79,56-10.5.55,7,1.5,20.81,9.05,23.74,6.81,2.64,13.46-4.75,19.67-7,6.33,14.3-17.09,46.19-29.81,53.08-16.4,8.88-24.21-4.2-34.2-11.47')
                        circle.cls-str-8(cx='540.46', cy='677.75', r='4.29')
                        circle.cls-str-8(cx='528.67', cy='646.65', r='3.22')
                        circle.cls-str-8(cx='591.94', cy='662.74', r='2.14')
                        circle.cls-str-8(cx='544.75', cy='714.21', r='4.29')
                        ellipse.cls-str-8(cx='571.56', cy='690.62', rx='3.22')
                        circle.cls-str-8(cx='520.09', cy='672.39', r='3.22')
                        circle.cls-str-8(cx='574.78', cy='684.19', r='2.14')
                    g.tube
                        polygon.cls-str-9(points='138.7 4.51 145.54 47.46 151.97 87.75 159.16 132.83 165.57 173.11 186.16 309.63 248.78 338.88 233.76 247.26 225.42 187.56 219.83 147.47 213.56 102.62 207.95 62.53 199.22 0 138.7 4.51')
                        polygon.cls-str-6(points='159.16 132.83 165.57 173.11 225.42 187.56 219.83 147.47 159.16 132.83')
                        polygon.cls-str-6(points='145.54 47.46 151.97 87.75 213.56 102.62 207.95 62.53 145.54 47.46')

