svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 581.19 658.87')
    defs
        style.
            .cls-wm-1{isolation:isolate;}.cls-wm-2{fill:#e3f7f5;mix-blend-mode:multiply;}.cls-wm-3{fill:#f0706d;}.cls-wm-4,.cls-wm-9{fill:#fff;}.cls-wm-4,.cls-wm-7{opacity:0.5;mix-blend-mode:overlay;}.cls-wm-5{fill:#8abd68;}.cls-wm-6{fill:#f8e9cf;}.cls-wm-8{fill:none;}
    title watermelon
    g.cls-wm-1
        g#Layer_2(data-name='Layer 2')
            g#text
                g#_11(data-name='11')
                    path.cls-wm-2(d='M.54,68.45l72.23,537.7h210.9l98-542.53S203.59,188,.54,68.45Z')
                    path.cls-wm-2(d='M381.72,63.62c0,35.14-107.51,58.38-190.86,58.38C102.88,122,0,98.76,0,63.62S85.45,0,190.86,0,381.72,28.48,381.72,63.62Z')
                    polygon.cls-wm-3(points='54.02 190.69 103.07 572.07 256.75 571.84 319.64 197.13 54.02 190.69')
                    path.cls-wm-4(d='M381.72,63.62s-78.59,54.89-190.86,56.71V606.15h92.81Z')
                    g.watermelon-fruit
                        path.cls-wm-5(d='M210.42,311.93,581.19,508.86s-100.87,190-246.92,142.35C103.76,576,210.42,311.93,210.42,311.93Z')
                        path.cls-wm-6(d='M215.86,312.61,581.19,508.86S492.51,675.08,346.47,627.44C116,552.25,215.86,312.61,215.86,312.61Z')
                        path.cls-wm-3(d='M225.8,317.95,573.92,505s-73.93,148.3-220,100.66C123.44,530.42,225.8,317.95,225.8,317.95Z')
                        circle(cx='251.18', cy='375.09', r='9.16', transform='translate(-165.96 202.51) rotate(-33.72)')
                        circle(cx='260.18', cy='451.65', r='9.16', transform='translate(-206.94 220.39) rotate(-33.72)')
                        circle(cx='430.39', cy='467.79', r='9.16', transform='translate(-187.27 317.59) rotate(-33.72)')
                        circle(cx='337.86', cy='551.56', r='9.16', transform='translate(-249.33 280.31) rotate(-33.72)')
                        circle(cx='443.24', cy='553.27', r='9.16', transform='translate(-232.55 339.1) rotate(-33.72)')
                        circle(cx='335.5', cy='445.88', r='9.16', transform='translate(-191.07 261.23) rotate(-33.72)')