.smoothie-wrapper.apple
    .img
        include ../_svg/_apple.pug

    .recipe
        h3 Ingredients
        ul
            li 1 banana
            li 1-2 cups kale
            li 1 cup apple cider (no sugar added)
            li 1 cup water or ice
            li Optional: Flaxseed, pecans, nut butter

        h3 Instructions
        p Once you have all your ingredients in the blender, you know what to do – blend on high until smooth!

.close-btn
a.next-block(href="panel-2")
    span.next
        span Next