.smoothie-wrapper.banana
    .img
        include ../_svg/_banana.pug

    .recipe
        h3 Ingredients
        ul
            li 3 very ripe bananas, cut into chunks, frozen
            li 1/2 cup frozen raspberries
            li 1 cup almond milk
            li 1/2 cup fresh orange juice (preferably no sugar added)
            li 2 tablespoons raw honey (more to taste, if desired)

        h3 Instructions
        p Place all of the ingredients in a blender and pulse until smooth, about 30 seconds. Serve right away!

.close-btn
a.next-block(href="panel-10")
    span.next
        span Next