.smoothie-wrapper.carrot
    .img
        include ../_svg/_carrot.pug

    .recipe
        h3 Ingredients
        ul
            li 2 oranges, peeled
            li 2 large, organic carrots, chopped
            li 1/2 to 1 inch ginger to taste
            li 1-2 splashes of water
            li Ice to chill if desired

        h3 Instructions
        p Squeeze one of the oranges into your blender to provide enough juice to help it blend. Then add the rest of the orange pulp and the second orange, both carrots and the ginger to your blender. Blend on high until smooth

.close-btn
a.next-block(href="panel-6")
    span.next
        span Next