.smoothie-wrapper.chocolate
    .img
        include ../_svg/_chocolate.pug

    .recipe
        h1 Cacao yogurt smoothie
        h3 Ingredients
        ul
            li 3/4 cup chocolate low-fat frozen yogurt
            li 2 tablespoons unsweetened cocoa
            li 1/2 cup unsweetened almond milk
            li Dark chocolate shavings for garnish

        h3 Instructions
        p Purée frozen yogurt, cocoa, and milk in a blender until smooth. Pour into a chilled glass, and garnish with chocolate shavings. Serve right away!

.close-btn
a.next-block(href="panel-7")
    span.next
        span Next

