.smoothie-wrapper.coffee
    .img
        include ../_svg/_coffee.pug

    .recipe
        h3 Ingredients
        ul
            li 1 cup strong brewed coffee
            li 1 banana
            li 1/4-cup rolled oats
            li 1 tablespoon cocoa powder
            li 1 cup soy milk or almond milk

        h3 Instructions
        p Pour coffee into an ice cube tray and freeze overnight.
        p Combine all the ingredients in a blender, including the coffee ice cubes and blend until smooth.
.close-btn
a.next-block(href="panel-3")
    span.next
        span Next



