.smoothie-wrapper.mango
    .img
        include ../_svg/_mango.pug

    .recipe
        h3 Ingredients
        ul
            li 1 medium mango
            li 1 banana
            li 250ml orange juice
            li 4 ice cubes

        h3 Instructions
        p Cut the mango down either side of the flat stone, then peel and cut the flesh into chunks. Peel and chop the banana.
        p Put all the ingredients into a food processor or blender, then process until smooth and thick. Keep in the fridge and use the day you make it.

.close-btn
a.next-block(href="panel-4")
    span.next
        span Next

