.smoothie-wrapper.melon
    .img
        include ../_svg/_melon.pug

    .recipe
        h3 Ingredients
        ul
            li 2 cups honeydew melon, cubed
            li 6 fresh mint leaves
            li 3 cups chopped baby bok choy leaves
            li 100ml unsweetened almond milk

        h3 Instructions
        p Place all of the ingredients in a blender and pulse until smooth, about 30 seconds. Serve right away!

.close-btn
a.next-block(href="panel-8")
    span.next
        span Next



