.smoothie-wrapper.strawberry
    .img
        include ../_svg/_strawberry.pug

    .recipe
        h3 Ingredients
        ul
            li 1 cup frozen strawberries
            li 1 cup milk
            li 1 banana
            li 1⁄4 cup sugar

        h3 Instructions
        p Put all ingredients in blender. Blend until smooth. Serve immediately!

.close-btn
a.next-block(href="panel-1")
    span.next
        span Next



