.smoothie-wrapper.vanilla
    .img
        include ../_svg/_vanilla.pug

    .recipe
        h1 Vanilla almond smoothie
        h3 Ingredients
        ul
            li 2 cups soy, rice or almond milk, or silken tofu, or yogurt
            li 1/2 teaspoon vanilla extract
            li 1/2 frozen banana, optional
            li cream topping

        h3 Instructions
        p Combine everything in a blender. Pulse the machine, then turn it on and purée until smooth. If you’re not getting enough action, add juice or water a little at a time until the machine gets a grip. Serve immediately.

.close-btn
a.next-block(href="panel-5")
    span.next
        span Next



