.smoothie-wrapper.watermelon
    .img
        include ../_svg/_watermelon.pug

    .recipe
        h3 Ingredients
        ul
            li 1 cup frozen cubed watermelon
            li 1/2 cup water
            li 1 tablespoon of honey or other sweetener to taste
            li a few mint and/or basil leaves

        h3 Instructions
        p Blend the watermelon and the water until smooth. Add the honey and mint and blend another 10-20 seconds until mostly smooth and the consistency of a slushy. Serve immediately!

.close-btn
a.next-block(href="panel-9")
    span.next
        span Next



