// Mixins

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}



// Extends

%amatic{
    font-family: 'Amatic SC', cursive;
}

%open-sans{
    font-family: 'Open Sans Condensed', sans-serif;
}

%centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}