// Fruits

$watermelon: #f0706d;
$vanilla: #fdf9ed;
$strawberry: #e93c4f;
$banana: #f2d541;
$orange: #f0b31d;
$melon: #ffe5b4;
$mango: #f18316;
$kiwi: #a9c403;
$apple: #cadeb3;
$coffee: #b89882;
$chocolate: #894f1a;
$avocado: #e0d98b;


// Media

$mobiles: 365px; // Mobiles
$tablets: 600px; // Tablets
$netbooks: 1024px; // Netbooks
$notebooks: 1280px; // Notebooks
$screens: 1440px; // Screens